*
{
    font-family: 'Noto Sans' !important;
}

#MContact
{
    text-align: left !important;
}

textarea
{
    resize: none !important;
    margin-left: 2.5% !important;
    margin-top: 15px !important;
    width: 89% !important;
    height: 150px !important;
    border-radius: 5px !important;
    margin-bottom: 15px !important;
    padding: 5px !important;
    border: 1px solid black !important;
}

#ContactFormulier
{
    margin-top: 20px !important;
    margin-left: 5% !important;
    display: inline-block !important;
    width: 40% !important;
    border: 1px solid black !important;
}

input
{
    margin-left: 2.5% !important;
    margin-top: 15px !important;
    width: 90% !important;
    height: 40px !important;
    border-radius: 5px !important;
    border: 1px solid black !important;
    padding-left: 5px !important;
}

input:focus
{
    outline: none !important;
}

select:focus
{
    outline: none !important;
}

textarea:focus
{
    outline: none !important;
}

#Aanhef
{
    margin-left: 2.5% !important;
    margin-top: 20px !important;
    width: 91% !important;
    height: 40px !important;
    border-radius: 5px !important;
    border: 1px solid black !important;
}

#klein
{
    font-size: 10px !important;
    height: 10px !important;
    padding: 0px !important;
}

option
{
    padding: 5px !important;
}

/* Checkbox nieuwsbrief */
.container {
    display: block !important;
    position: relative !important;
    padding-left: 35px !important;
    margin-bottom: 12px !important;
    cursor: pointer !important;
    font-size: 17px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    margin-left: 3% !important;
}
  
.container input {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
    height: 0 !important;
    width: 0 !important;
}

.checkmark {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 25px !important;
    width: 25px !important;
    background-color: #eee !important;
}

.container:hover input ~ .checkmark {
    background-color: #ccc !important;
}

.container input:checked ~ .checkmark {
    background-color: #F64E8B !important;
}

.checkmark:after {
    content: "" !important;
    position: absolute !important;
    display: none !important;
}

.container input:checked ~ .checkmark:after {
    display: block !important;
}

.container .checkmark:after {
    left: 9px !important;
    top: 5px !important;
    width: 5px !important;
    height: 10px !important;
    border: solid white !important;
    border-width: 0 3px 3px 0 !important;
    -webkit-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg !important);
}


/* opmaak knop */

#knop
{
    background-color: #F64E8B !important;
    color: white !important;
    cursor: pointer !important;
    margin-bottom: 25px !important;
    box-shadow: 0 5px #FA1E8B !important;
    border: none !important;
}

#knop:active 
{
    background-color: #F64E8B !important;
    box-shadow: 0 3px #666 !important;
    transform: translateY(2px) !important;
  }


/* bedrijfsgegevens */

#gegevens
{
    display: inline-block !important;
    position: absolute !important;
    border: 1px solid black !important;
    margin-top: 20px !important;
    margin-left: 9% !important;
    width: 40% !important;
    padding: 10px !important;
}

#gegevens>p
{
    margin-bottom: 20px !important;
    text-align: center !important;
}

#gegevens>table
{
    margin-left: auto !important;
    margin-right: auto !important;
}

.groot
{
    width: 140px !important;
    /* padding-left: 10px; */
}

.kleiner
{
    width: 120px !important;
}


/* mediaquery */
@media only screen and (max-width: 800px) {
    #ContactFormulier 
    {
      width: 90% !important;
      display: block !important;
    }

    #gegevens
    {
        display: block !important;
        width: 85.5% !important;
        position: relative !important;
        border: 1px solid black !important;
        margin-top: 20px !important;
        margin-left: 5% !important;
        padding: 10px !important;
    }

    #knop
    {
        background-color: #F64E8B !important;
        color: white !important;
        cursor: pointer !important;
        margin-bottom: 25px !important;
        box-shadow: none !important;
        border: none !important;
    }

    #knop:active 
    {
        background-color: #F64E8B !important;
        box-shadow: none !important;
        transform: none !important;
    }
  }