main
{
    text-align: left;
}
.artikel
{
    position: relative;
    width: 50%;
   
    margin-left: 40%;
    margin-right: 50%
}
#img1
{
    position: absolute;
    width: 100px;
    
    max-width: 150px;

}
#txt1
{
    position: relative;
    left: 120px;
    width: 150px;
}
#img2
{
    position: absolute;
    width: 100px;
    top: 50px;
   
}
#txt2
{
    position: relative;
    left: 120px;
    top: 50px;
    width: 150px;
}

#img3
{
    position: absolute;
    width: 100px;
    
    margin-top: 100px;
}

#txt3
{
    position: relative;
    left: 120px;
    top: 100px;
    width: 150px;
}

#img4
{
    position: absolute;
    margin-top: 120px;
    
    width: 100px;
    
}

#txt4
{
    position: relative;
    left: 120px;
    top: 120px;  
    width: 150px; 
}

ul
{
    z-index: 2;
}

main
{
    z-index: 0;
}

footer
{
    position: absolute;
    top: 600px;
}
